body {
  background-color: #121212;
  margin: 0;
  font-family: Calibri, sans-serif;
}
.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 15vw;
  color: #f0e68c;
}
.header h1 {
  text-align: center;
  font-size: 40px;
  margin: 0;
  padding: 0;
}
.nav {
  background: rgba(255,255,255,0.07);
  box-shadow: 20px 0px 20px -15px rgba(0,0,0,0.9);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 15vw;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.navLink:first-of-type {
  margin-top: 150px;
}
.navLink {
  margin-bottom: 20px;
  font-size: 20px;
}
.navLink a {
  color: rgb(255,255,255,0.80);
  text-decoration: none;
}
.navLink a:hover {
  font-size: 22px;
}
.navLink a:active {
  font-size: 25px;
  color: #f0e68c;
}
.navLink#active a {
  color: #f0e68c;
  font-size: 25px;
  text-decoration: underline;
}
.extra {
  width: 100%;
  display: block;
  text-align: center;
}
.content {
  position: relative;
  max-width: 80vw;
  left: 15vw;
  color: rgb(255,255,255,0.87);
  margin: 100px 20px 20px 10px;
  font-family: Calibri, sans-serif;
}
.content p{
  color: rgb(255,255,255,0.87);
  margin-left: 80px;
}

.content h1{
  color: #f0e68c;
  margin-left: 40px;
}
h2 {
  margin-left: 80px;
}
.extra h1 {
  margin: 30px 0px 30px 0px;
}
.extra p {
  margin: 10px;
}
.todoListMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}